<!DOCTYPE html>
<!--
	Resto by GetTemplates.co
	URL: https://gettemplates.co
-->
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bếp nhà TL</title>
  <meta name="description" content="Đồ ăn vặt">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- External CSS -->
  <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="vendor/select2/select2.min.css">
  <link rel="stylesheet" href="vendor/owlcarousel/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/brands.css">

  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Josefin+Sans:300,400,700">
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <!-- CSS -->
  <link rel="stylesheet" href="css/style.min.css">

  <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

</head>

<body data-spy="scroll" data-target="#navbar" class="static-layout">
  <div id="side-nav" class="sidenav">
    <a href="javascript:void(0)" id="side-nav-close">&times;</a>

    <div class="sidenav-content">
      <p>
        Cơ sở 1: 0982 993 698 - Ngõ 14, Mễ Trì Thượng, Nam Từ Liêm Hà Nội
      </p>
      <p>
        Cơ sở 2: 033 789 6198 - Thôn 3, xã Thượng Mỗ, huyện Đan Phượng, Hà Nội.
      </p>
    </div>
  </div>
  <div id="side-search" class="sidenav">
    <a href="javascript:void(0)" id="side-search-close">&times;</a>
    <div class="sidenav-content">
      <form action="">

        <div class="input-group md-form form-sm form-2 pl-0">
          <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="input-group-text red lighten-3" id="basic-text1">
              <i class="fas fa-search text-grey" aria-hidden="true"></i>
            </button>
          </div>
        </div>

      </form>
    </div>


  </div>
  <div id="canvas-overlay"></div>
  <div class="boxed-page">
    <nav id="navbar-header" class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand navbar-brand-center d-flex align-items-center p-0 only-mobile" href="/">
          <img src="img/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="lnr lnr-menu"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
          <ul class="navbar-nav d-flex justify-content-between">
            <li class="nav-item only-desktop">
              <a class="nav-link" id="side-nav-open" href="#">
                <span class="lnr lnr-menu"></span>
              </a>
            </li>
            <!-- <div class="d-flex flex-lg-row flex-column">
              <li class="nav-item active">
                <a class="nav-link" href="/ve-chung-toi">Về chúng tôi</a>
              </li>
            </div>
          </ul> -->

            <a class="navbar-brand navbar-brand-center d-flex align-items-center only-desktop" href="#">
              <img src="img/logo.png" alt="">
            </a>
            <!-- <ul class="navbar-nav d-flex justify-content-between">
            <div class="d-flex flex-lg-row flex-column">
              <li class="nav-item active">
                <a class="nav-link" href="menu.html">Menu</a>
              </li>
            </div>
          </ul> -->
        </div>
      </div>
    </nav>
    <div class="hero">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-lg-6 hero-left">
            <h1 class="display-4 mb-5">Lem's Kitchen <br>Đồ ăn vặt</h1>
            <div class="mb-2">
              <a class="btn btn-primary btn-shadow btn-lg" href="https://lemkitchen.online/dat-hang" role="button">Đặt
                món</a>
              <!-- <a class="btn btn-icon btn-lg" href="https://player.vimeo.com/video/33110953" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true">
			    	<span class="lnr lnr-film-play"></span>
			    	Play Video
			    </a> -->
            </div>

            <ul class="hero-info list-unstyled d-flex text-center mb-0">
              <li class="border-right">
                <span class="lnr lnr-rocket"></span>
                <h5>
                  Giao hàng nhanh
                </h5>
              </li>
              <li class="border-right">
                <span class="lnr lnr-leaf"></span>
                <h5>
                  Chất lượng đảm bảo
                </h5>
              </li>
              <li class="">
                <span class="lnr lnr-bubble"></span>
                <h5>
                  Hỗ trợ 24/7
                </h5>
              </li>
            </ul>

          </div>
          <div class="col-lg-6 hero-right">

            <div class="owl-carousel owl-theme hero-carousel">
              <div class="item">
                <img class="img-fluid" src="images/form_files-IMG_0799.JPG" alt="">
              </div>
              <div class="item">
                <img class="img-fluid" src="images/form_files-IMG_0796.JPG" alt="">
              </div>
              <div class="item">
                <img class="img-fluid" src="images/form_files-nemchua1.jpeg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- Welcome Section -->
    <section id="gtco-welcome" class="bg-white section-padding">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div
              class="col-sm-5 img-bg d-flex shadow align-items-center justify-content-center justify-content-md-end img-2"
              style="background-image: url(img/logo_nhe.png);">

            </div>
            <div class="col-sm-7 py-5 pl-md-0 pl-4">
              <div class="heading-section pl-lg-5 ml-md-5">
                <h2>
                  Chào mừng đến với Lem's Kitchen
                </h2>
              </div>
              <div class="pl-lg-5 ml-md-5">
                <p>Chúng tôi tập chung cung cấp các món ăn vặt. Với tiêu chí "Ít" nhưng mà "chất", Lem's Kitchen đã tìm
                  kiếm, chọn lọc kỹ càng các nguồn cung cấp,
                  nguồn nguyên liệu sạch và tự nhiên, đảm bảo vệ sinh an toàn thực phẩm. Một tiêu chí không thể thiếu
                  nữa đó là "NGON" được chính khách hàng kiểm nghiệm. </p>
                <!-- <h3 class="mt-5">Special Recipe</h3>
                        <div class="row">
                            <div class="col-4">
                                <a href="#" class="thumb-menu">
                                    <img class="img-fluid img-cover" src="img/intro1.jpeg" />
                                    <h6>Australian Organic Beef</h6>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="#" class="thumb-menu">
                                    <img class="img-fluid img-cover" src="img/intro1.jpeg" />
                                    <h6>Australian Organic Beef</h6>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="#" class="thumb-menu">
                                    <img class="img-fluid img-cover" src="img/intro1.jpeg"/>
                                    <h6>Australian Organic Beef</h6>
                                </a>
                            </div>
                        </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of Welcome Section -->
    <!-- Special Dishes Section -->
    <section id="gtco-special-dishes" class="bg-grey section-padding">
      <div class="container">
        <div class="section-content">
          <div class="heading-section text-center">
            <span class="subheading">
              Menu
            </span>
            <h2>
              Danh sách món ăn
            </h2>
          </div>
          <div class="row mt-5">
            <div class="col-lg-5 col-md-6 align-self-center py-5">
              <h2 class="special-number">01.</h2>
              <div class="dishes-text">
                <h3><span>Chân gà rút xương</span><br>xả tắc</h3>
                <p class="pt-3">Món chân gà rút xương xả tắc. Với nước sốt siêu ngon, chân gà giòn sần sật. kèm cóc dầm.
                  Cam kết 100%
                  chân gà tươi Việt Nam, đảm bảo Vệ sinh ATTP. Sản phẩm được đóng kín kỹ càng 2 lớp nắm, dễ dàng cho
                  việc bảo quản và di chuyển. Không chỉ giúp bữa nhậu ngày lạnh thêm chất lượng, mà còn phù hợp để làm
                  quà tặng cho người thân, bạn bè hay cô nàng thích ăn vặt.
                </p>
                <h3 class="special-dishes-price">90.000 VND/hộp</h3>
                <a href="https://lemkitchen.online/dat-hang" class="btn-primary mt-3">Mua ngay</a>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
              <div class="owl-carousel owl-theme hero-carousel">
                <div class="item">
                  <img class="img-fluid" src="img/IMG_0801.JPG" alt="">
                </div>
                <div class="item">
                  <img class="img-fluid" src="img/IMG_0799.JPG" alt="">
                </div>
                <div class="item">
                  <img class="img-fluid" src="img/IMG_0800.JPG" alt="">
                </div>
              </div>
              <!-- <img
                src="https://www.thatlangon.com/wp-content/uploads/2020/06/46673814_2156407604614617_2621612853106311168_n-e1591191076232.jpg"
                alt="" class="img-fluid shadow w-100"> -->
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-lg-5 col-md-6 align-self-center order-2 order-md-1 mt-4 mt-md-0">
              <div class="owl-carousel owl-theme hero-carousel">
                <div class="item">
                  <img class="img-fluid" src="img/IMG_0796.JPG" alt="">
                </div>
                <div class="item">
                  <img class="img-fluid" src="img/botang.jpeg" alt="">
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center order-1 order-md-2 py-5">
              <h2 class="special-number">02.</h2>
              <div class="dishes-text">
                <h3><span>Bò khô</span><br></h3>
                <p class="pt-3">Bạn có thể rất dễ dàng tìm kiếm các sản phẩm bò khô trôi nổi với giá cực rẻ. Nhưng để
                  mua được bò khô đúng nghĩa với nghĩa đen của nó thì Lem không chắc. Thịt bò khô nói không với phẩm
                  màu, chất bảo quản. Đảm bảo an toàn thực phẩm. Bò 100%. </p>
                <p class="pt-3">Nếu bạn muốn trải nghiệm hương vị
                  của sợi bò khô thật dai ngon thì hãy đặt ngay tại Lem's Kitchen nhé.</p>
                <p class="pt-3">Bò khô sợi gồm 3 loại: cay, cay vừa, không cay phù hợp cho mọi lứa tuổi và khẩu vị. </p>
                <h3 class="special-dishes-price">95.000 VND/lạng</h3>
                <a href="https://lemkitchen.online/dat-hang" class="btn-primary mt-3">Mua ngay <span><i
                      class="fa fa-long-arrow-right"></i></span></a>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-lg-5 col-md-6 align-self-center py-5">
              <h2 class="special-number">03.</h2>
              <div class="dishes-text">
                <h3><span>Đặc sản</span><br> Nem Phùng - Nem chua</h3>
                <p class="pt-3">“Nem Phùng ăn với lá sung.
                  Cho người tứ xứ nhớ nhung suốt đời”.Một món ăn dễ gây nghiện vì vị bùi, béo, ngậy mà ng lớn trẻ con
                  đều yêu thích bởi đây là món ăn giản dị dân dã có công thức pha chế bì, mỡ, và thính gia truyền tạo
                  nên vị riêng khác biệt.
                </p>
                <p>Lưu ý: Sản phẩm cần đặt trước 2 ngày.</p>
                <h3 class="special-dishes-price">Nem Phùng: 50.000 VND/chục</h3>
                <h3 class="special-dishes-price">Nem Chua: 40.000 VND/chục</h3>
                <a href="https://lemkitchen.online/dat-hang" class="btn-primary mt-3">Mua ngay</a>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
              <div class="owl-carousel owl-theme hero-carousel">
                <div class="item">
                  <img class="img-fluid" src="img/nemphung1.jpeg" alt="">
                </div>
                <div class="item">
                  <img class="img-fluid" src="img/nemphung2.jpeg" alt="">
                </div>
                <div class="item">
                  <img class="img-fluid" src="img/nemchua1.jpeg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of Special Dishes Section -->
    <!-- Menu Section -->
    <!--  -->
    <!-- End of menu Section -->
    <!-- Testimonial Section-->
    <section id="gtco-testimonial" class="overlay bg-fixed section-padding"
      style="background-image: url(images/form_files-IMG_0798.JPG);">
      <div class="container">
        <div class="section-content">
          <div class="heading-section text-center">
            <span class="subheading">
              Phản hồi từ
            </span>
            <h2>
              Khách hàng
            </h2>
          </div>
          <div class="row">
            <!-- Testimonial -->
            <div class="testi-content testi-carousel owl-carousel">
              <div class="testi-item">
                <i class="testi-icon fa fa-3x fa-quote-left"></i>
                <p class="testi-text">Chân gà to, sốt ngon, sẽ ủng hộ nhiều lần. </p>
                <p class="testi-author">Dương Ngọc Anh.</p>
              </div>
              <div class="testi-item">
                <i class="testi-icon fa fa-3x fa-quote-left"></i>
                <p class="testi-text">Đồ ăn hơi nhiều, lại ngon, mua cho người yêu mà người yêu cứ khen vừa ngon vừa rẻ
                  cứ bắt mua tiếp.</p>
                <p class="testi-author">Nguyễn Đức Dương</p>
              </div>
              <div class="testi-item">
                <i class="testi-icon fa fa-3x fa-quote-left"></i>
                <p class="testi-text">Giao hàng nhanh, giá hơi đắt hơn so với mặt bằng chung nhưng chất lượng đúng là
                  khác hẳn. Đúng là chân gà thật, bò thật ăn khác thật. </p>
                <p class="testi-author">Vũ Thị Hạnh</p>
              </div>
            </div>
            <!-- End of Testimonial -->
          </div>
        </div>
      </div>
    </section>
    <div class="inner container">
      <div class="row">
        <div class="col-lg-4">
          <div class="footer-widget pr-lg-5 pr-0">
            <img src="img/logo.png" class="img-fluid footer-logo mb-3" alt="">
            <p>Cơ sở 1: Ngõ 14, Mễ Trì Hạ, Nam Từ Liêm, Hà Nội - 0982993698</p>
            <p>Cơ sở 2: Thôn 3, xã Thượng Mỗ, huyện Đan Phượng, Hà Nội - 0337896198</p>
            <nav class="nav nav-mastfoot justify-content-start">
              <a class="nav-link" href="https://www.facebook.com/bepnhalem">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a class="nav-link" href="https://www.facebook.com/bepnhalem">
                <i class="fab fa-instagram"></i>
              </a>
            </nav>
          </div>

        </div>

      </div>
    </div>
    </footer>
  </div>
  </div>
  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script src="vendor/bootstrap/popper.min.js"></script>
  <script src="vendor/bootstrap/bootstrap.min.js"></script>
  <script src="vendor/select2/select2.min.js "></script>
  <script src="vendor/owlcarousel/owl.carousel.min.js"></script>
  <script src="https://cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js"></script>
  <script src="vendor/stellar/jquery.stellar.js" type="text/javascript" charset="utf-8"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

  <!-- Main JS -->
  <script src="js/app.min.js "></script>
</body>

</html>