<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-US" class="supernova">

<head>
  <script>console.warn("Server Side Rendering => render-from ==> \n frontend");</script>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="alternate" type="application/json+oembed"
    href="https://www.jotform.com/oembed/?format=json&amp;url=https%3A%2F%2Fform.jotform.com%2F223184427162453"
    title="oEmbed Form">
  <link rel="alternate" type="text/xml+oembed"
    href="https://www.jotform.com/oembed/?format=xml&amp;url=https%3A%2F%2Fform.jotform.com%2F223184427162453"
    title="oEmbed Form">
  <meta property="og:title" content="LEM&amp;#39;S KITCHEN">
  <meta property="og:url" content="https://form.jotform.com/223184427162453">
  <meta property="og:description" content="Please click the link to complete this form.">
  <meta name="slack-app-id" content="AHNMASS8M">
  <link rel="shortcut icon" href="https://cdn.jotfor.ms/assets/img/favicons/favicon-2021.svg">
  <meta property="og:image" content="https://cdn.jotfor.ms/assets/img/favicons/favicon-2021.svg">
  <link rel="canonical" href="https://form.jotform.com/223184427162453">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1">
  <meta name="HandheldFriendly" content="true">
  <title>LEM'S KITCHEN</title>
  <style type="text/css">
    @media print {
      .form-section {
        display: inline !important
      }

      .form-pagebreak {
        display: none !important
      }

      .form-section-closed {
        height: auto !important
      }

      .page-section {
        position: initial !important
      }
    }
  </style>
  <link type="text/css" rel="stylesheet"
    href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?themeRevisionID=5f7ed99c2c2c7240ba580251">
  <link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3.3.37231">
  <link type="text/css" rel="stylesheet"
    href="https://cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3.3.37231">
  <style type="text/css" id="form-designer-style">
    /* Injected CSS Code */
    /*PREFERENCES STYLE*/
    .form-all {
      font-family: Inter, sans-serif;
    }

    .form-all .qq-upload-button,
    .form-all .form-submit-button,
    .form-all .form-submit-reset,
    .form-all .form-submit-print {
      font-family: Inter, sans-serif;
    }

    .form-all .form-pagebreak-back-container,
    .form-all .form-pagebreak-next-container {
      font-family: Inter, sans-serif;
    }

    .form-header-group {
      font-family: Inter, sans-serif;
    }

    .form-label {
      font-family: Inter, sans-serif;
    }

    .form-label.form-label-auto {

      display: block;
      float: none;
      text-align: left;
      width: 100%;

    }

    .form-line {
      margin-top: 12px;
      margin-bottom: 12px;
    }

    .form-all {
      max-width: 752px;
      width: 100%;
    }

    .form-label.form-label-left,
    .form-label.form-label-right,
    .form-label.form-label-left.form-label-auto,
    .form-label.form-label-right.form-label-auto {
      width: 230px;
    }

    .form-all {
      font-size: 16px
    }

    .form-all .qq-upload-button,
    .form-all .qq-upload-button,
    .form-all .form-submit-button,
    .form-all .form-submit-reset,
    .form-all .form-submit-print {
      font-size: 16px
    }

    .form-all .form-pagebreak-back-container,
    .form-all .form-pagebreak-next-container {
      font-size: 16px
    }

    .supernova .form-all,
    .form-all {
      background-color: #fff;
    }

    .form-all {
      color: #383128;
    }

    .form-header-group .form-header {
      color: #383128;
    }

    .form-header-group .form-subHeader {
      color: #383128;
    }

    .form-label-top,
    .form-label-left,
    .form-label-right,
    .form-html,
    .form-checkbox-item label,
    .form-radio-item label,
    span.FITB .qb-checkbox-label,
    span.FITB .qb-radiobox-label,
    span.FITB .form-radio label,
    span.FITB .form-checkbox label,
    [data-blotid][data-type=checkbox] [data-labelid],
    [data-blotid][data-type=radiobox] [data-labelid],
    span.FITB-inptCont[data-type=checkbox] label,
    span.FITB-inptCont[data-type=radiobox] label {
      color: #383128;
    }

    .form-sub-label {
      color: #524b42;
    }

    .supernova {
      background-color: #ffca74;
    }

    .supernova body {
      background: transparent;
    }

    .form-textbox,
    .form-textarea,
    .form-dropdown,
    .form-radio-other-input,
    .form-checkbox-other-input,
    .form-captcha input,
    .form-spinner input {
      background-color: #fff;
    }

    .supernova {
      height: 100%;
      background-repeat: repeat;
      background-attachment: scroll;
      background-position: center top;
    }

    .supernova {
      background-image: url("https://www.jotform.com/uploads/thangnct110/form_files/IMG_0796.63764d5b394fb6.71070970.JPG");
    }

    #stage {
      background-image: url("https://www.jotform.com/uploads/thangnct110/form_files/IMG_0796.63764d5b394fb6.71070970.JPG");
    }

    .form-all {
      background-image: none;
    }

    .ie-8 .form-all:before {
      display: none;
    }

    .ie-8 {
      margin-top: auto;
      margin-top: initial;
    }

    /*PREFERENCES STYLE*/
    /*__INSPECT_SEPERATOR__*/
    .form-submit-button {
      background-color: #383128;
      border-color: #383128;
    }

    .form-submit-button:hover {
      background-color: #383128;
      border-color: #000000;
    }

    .form-product-details * {
      color: #F0AC3A;
    }

    .form-html p {
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
      word-break: break-word;
      color: #383128;
    }

    .form-header {
      color: #383128;
    }

    .form-all,
    #stage .formPage-stage.form-all,
    .form-section.page-section {
      border-radius: 16px;
      padding-top: 12px;
    }

    .formLogoImg {
      max-width: 752px;
      position: absolute;
      margin: 0 auto;
      left: calc(50% - 305px);
    }

    .form-line.card-3col {
      margin-top: 0;
    }

    .form-line.card-3col .form-label {
      display: none;
    }

    /* Injected CSS Code */
  </style>

  <script src="js/static-prototype.forms.js" type="text/javascript"></script>
  <script src="js/static-jotform.forms.js" type="text/javascript"></script>
  <script src="js/vendor-jquery-1.8.0.min.js" type="text/javascript"></script>
  <script defer src="js/vendor-maskedinput.min.js" type="text/javascript"></script>
  <script defer src="js/vendor-jquery.maskedinput.min.js" type="text/javascript"></script>
  <script type="text/javascript">	JotForm.newDefaultTheme = true;
    JotForm.extendsNewTheme = false;
    JotForm.singleProduct = false;
    JotForm.newPaymentUIForNewCreatedForms = false;
    JotForm.newPaymentUI = true;
    JotForm.clearFieldOnHide = "disable";
    JotForm.submitError = "jumpToFirstError";

    JotForm.init(function () {
      /*INIT-START*/
      productID = { "0": "input_3_1006", "1": "input_3_1004", "2": "input_3_1007" };
      paymentType = "product";
      JotForm.setCurrencyFormat('VND', true, 'point');
      JotForm.totalCounter({ "input_3_1006": { "price": "100000", "quantityField": "input_3_quantity_1006_0" }, "input_3_1004": { "price": "90000.00", "quantityField": "input_3_quantity_1004_0" }, "input_3_1007": { "price": "30000.00", "quantityField": "input_3_quantity_1007_0" } });
      $$('.form-product-custom_quantity').each(function (el, i) { el.observe('blur', function () { isNaN(this.value) || this.value < 1 ? this.value = '0' : this.value = parseInt(this.value) }) });
      $$('.form-product-custom_quantity').each(function (el, i) { el.observe('focus', function () { this.value == 0 ? this.value = '' : this.value }) });
      JotForm.handleProductLightbox();
      if (window.JotForm && JotForm.accessible) $('input_18').setAttribute('tabindex', 0);
      JotForm.setPhoneMaskingValidator('input_6_full', '### ### ####');
      if (window.JotForm && JotForm.accessible) $('input_26').setAttribute('tabindex', 0);
      if (window.JotForm && JotForm.accessible) $('input_28').setAttribute('tabindex', 0);
      JotForm.alterTexts(undefined);
      JotForm.alterTexts({ "couponApply": "Apply", "couponBlank": "Please enter a coupon.", "couponChange": "", "couponEnter": "Enter coupon", "couponExpired": "Coupon is expired. Please try another one.", "couponInvalid": "Coupon is invalid.", "couponValid": "Coupon is valid.", "shippingShipping": "Shipping", "taxTax": "Khuy&#7871;n  m&atilde;i", "totalSubtotal": "Gi&aacute;", "totalTotal": "T&#7893;ng" }, true);
      /*INIT-END*/
    });

    JotForm.prepareCalculationsOnTheFly([null, { "name": "heading", "qid": "1", "text": "LEM'S KITCHEN", "type": "control_head" }, null, { "name": "products", "qid": "3", "text": "Products", "type": "control_payment" }, { "name": "thongTin", "qid": "4", "text": "Thong tin ngu&#7901;i nh&#7853;n", "type": "control_head" }, null, { "name": "phone", "qid": "6", "text": "S&#7889; di&#7879;n thoai ngu&#7901;i nh&#7853;n", "type": "control_phone" }, null, null, null, null, null, null, null, null, null, null, { "name": "dthang", "qid": "17", "text": "D&#7863;t&nbsp;hang", "type": "control_button" }, { "description": "", "name": "name", "qid": "18", "subLabel": "", "text": "Ten ngu&#7901;i nh&#7853;n", "type": "control_textbox" }, null, { "name": "heading20", "qid": "20", "text": "", "type": "control_head" }, null, null, null, null, null, { "description": "", "name": "address", "qid": "26", "subLabel": "", "text": "Dia chi nh&#7853;n hang", "type": "control_textbox" }, null, { "description": "", "name": "note", "qid": "28", "subLabel": "", "text": "Type a question", "type": "control_textbox" }]);
    setTimeout(function () {
      JotForm.paymentExtrasOnTheFly([null, { "name": "heading", "qid": "1", "text": "LEM'S KITCHEN", "type": "control_head" }, null, { "name": "products", "qid": "3", "text": "Products", "type": "control_payment" }, { "name": "thongTin", "qid": "4", "text": "Thong tin ngu&#7901;i nh&#7853;n", "type": "control_head" }, null, { "name": "phone", "qid": "6", "text": "S&#7889; di&#7879;n thoai ngu&#7901;i nh&#7853;n", "type": "control_phone" }, null, null, null, null, null, null, null, null, null, null, { "name": "dthang", "qid": "17", "text": "D&#7863;t&nbsp;hang", "type": "control_button" }, { "description": "", "name": "name", "qid": "18", "subLabel": "", "text": "Ten ngu&#7901;i nh&#7853;n", "type": "control_textbox" }, null, { "name": "heading20", "qid": "20", "text": "", "type": "control_head" }, null, null, null, null, null, { "description": "", "name": "address", "qid": "26", "subLabel": "", "text": "Dia chi nh&#7853;n hang", "type": "control_textbox" }, null, { "description": "", "name": "note", "qid": "28", "subLabel": "", "text": "Type a question", "type": "control_textbox" }]);
    }, 20); 
  </script>
</head>

<body>
  <form class="jotform-form" action="http://localhost:1999/dat-hang" method="post" name="form_223184427162453"
    id="223184427162453" accept-charset="utf-8" autocomplete="on">
    <input type="hidden" name="formID" value="223184427162453">
    <input type="hidden" id="JWTContainer" value="">
    <input type="hidden" id="cardinalOrderNumber" value="">
    <div role="main" class="form-all">
      <style>
        .form-all:before {
          background: none;
        }
      </style>
      <ul class="form-section page-section">
        <li id="cid_1" class="form-input-wide" data-type="control_head">
          <div class="form-header-group  header-large">
            <div class="header-text httac htvam">
              <h1 id="header_1" class="form-header" data-component="header">
                LEM'S KITCHEN
              </h1>
            </div>
          </div>
        </li>
        <li class="form-line card-3col" data-type="control_payment" id="id_3" data-payment="true">
          <label class="form-label form-label-top" id="label_3" for="input_3"> Products </label>
          <div id="cid_3" class="form-input-wide" data-layout="full">
            <div data-wrapper-react="true">
              <div data-wrapper-react="true" class="product-container-wrapper">
                <div class="filter-container">
                </div>
                <input type="hidden" name="simple_fpc" data-payment_type="payment" data-component="payment1" value="3">
                <input type="hidden" name="payment_total_checksum" id="payment_total_checksum"
                  data-component="payment2">
                <div id="image-overlay" class="overlay-content" style="display:none">
                  <img id="current-image" src="images/https:-form.jotform.com">
                  <span class="lb-prev-button">
                    prev
                  </span>
                  <span class="lb-next-button">
                    next
                  </span>
                  <span class="lb-close-button">
                    ( X )
                  </span>
                  <span class="image-overlay-product-container">
                    <ul class="form-overlay-item" pid="1006" hasicon="false" hasimages="true" iconvalue="">
                      <li class="image-overlay-image">
                        <img loading="lazy" src="images/form_files-IMG_0796.JPG">
                      </li>
                    </ul>
                    <ul class="form-overlay-item" pid="1004" hasicon="false" hasimages="true" iconvalue="">
                      <li class="image-overlay-image">
                        <img loading="lazy" src="images/form_files-IMG_0799.JPG">
                      </li>
                      <li class="image-overlay-image">
                        <img loading="lazy" src="images/form_files-IMG_0800.JPG">
                      </li>
                      <li class="image-overlay-image">
                        <img loading="lazy" src="images/form_files-IMG_0798.JPG">
                      </li>
                      <li class="image-overlay-image">
                        <img loading="lazy" src="images/form_files-IMG_0800.JPG">
                      </li>
                      <li class="image-overlay-image">
                        <img loading="lazy" src="images/form_files-IMG_0801.JPG">
                      </li>
                    </ul>
                    <ul class="form-overlay-item" pid="1007" hasicon="false" hasimages="true" iconvalue="">
                      <li class="image-overlay-image">
                        <img loading="lazy" src="images/form_files-nemchua1.jpeg">
                      </li>
                    </ul>
                  </span>
                </div>
                <div data-wrapper-react="true">
                  <span class="form-product-item hover-product-item on_col1 show_image show_desc show_option new_ui"
                    categories="non-categorized" pid="1006" aria-labelledby="label_3">
                    <div data-wrapper-react="true" class="form-product-item-detail new_ui">
                      <div class="p_col">
                        <div class="p_checkbox">
                          <input type="checkbox" class="form-checkbox  form-product-input" id="input_3_1006"
                            name="q3_products[][id]" value="1006">
                          <div class="checked">
                          </div>
                          <div class="select_border">
                          </div>
                        </div>
                      </div>
                      <div class="p_image">
                        <div role="img" aria-label="Bò khô sợi" class="image_area form-product-image-with-options"
                          style='background-image:url("https://www.jotform.com/uploads/thangnct110/form_files/IMG_0796.JPG")'>
                          <div class="image_zoom">
                          </div>
                        </div>
                      </div>
                      <div for="input_3_1006" class="form-product-container">
                        <span data-wrapper-react="true">
                          <div class="title_description">
                            <span class="form-product-name" id="product-name-input_3_1006">
                              Bò khô sợi
                            </span>
                            <span class="form-product-description" id="product-name-description-input_3_1006">
                              1 lạng
                            </span>
                          </div>
                          <span class="form-product-details">
                            <b>
                              <span data-wrapper-react="true">
                                <span id="input_3_1006_price">
                                  100,000.00
                                </span>
                                <span class="currency_abr">
                                  VND
                                </span>
                              </span>
                            </b>
                          </span>
                        </span>
                        <span class="form-sub-label-container" style="vertical-align:top">
                          <label class="form-sub-label" for="input_3_quantity_1006_0" style="min-height:13px"
                            aria-hidden="false"> Lạng </label>
                          <input type="text" size="3" value="0" class="form-textbox form-product-custom_quantity"
                            name="bo_soi" id="input_3_quantity_1006_0">
                        </span>
                      </div>
                      <div class="focus_action_button_container">
                        <a class="btn-inline-product-delete" href="form.jotform.html"> </a>
                        <a class="btn-inline-product-settings" href="form.jotform.html"> </a>
                      </div>
                    </div>
                  </span>
                  <div class="p_item_separator ">
                  </div>
                  <span class="form-product-item hover-product-item on_col2 show_image show_desc show_option new_ui"
                    categories="non-categorized" pid="1004" aria-labelledby="label_3">
                    <div data-wrapper-react="true" class="form-product-item-detail new_ui">
                      <div class="p_col">
                        <div class="p_checkbox">
                          <input type="checkbox" class="form-checkbox  form-product-input" id="input_3_1004"
                            name="q3_products[][id]" value="1004">
                          <div class="checked">
                          </div>
                          <div class="select_border">
                          </div>
                        </div>
                      </div>
                      <div class="p_image">
                        <div role="img" aria-label="Chân gà xả tắc" class="image_area form-product-image-with-options"
                          style='background-image:url("https://www.jotform.com/uploads/thangnct110/form_files/IMG_0799.JPG")'>
                          <div class="image_zoom">
                          </div>
                        </div>
                      </div>
                      <div for="input_3_1004" class="form-product-container">
                        <span data-wrapper-react="true">
                          <div class="title_description">
                            <span class="form-product-name" id="product-name-input_3_1004">
                              Chân gà xả tắc
                            </span>
                            <span class="form-product-description" id="product-name-description-input_3_1004">
                              1 hộp gồm 8-10 chân gà
                            </span>
                          </div>
                          <span class="form-product-details">
                            <b>
                              <span data-wrapper-react="true">
                                <span id="input_3_1004_price">
                                  90,000.00
                                </span>
                                <span class="currency_abr">
                                  VND
                                </span>
                              </span>
                            </b>
                          </span>
                        </span>
                        <span class="form-sub-label-container" style="vertical-align:top">
                          <label class="form-sub-label" for="input_3_quantity_1004_0" style="min-height:13px"
                            aria-hidden="false"> Hộp </label>
                          <span class="select_cont">
                            <select class="form-dropdown" name="chan_ga" id="input_3_quantity_1004_0">
                              <option value="0"> 0 </option>
                              <option value="1"> 1 </option>
                              <option value="2"> 2 </option>
                              <option value="3"> 3 </option>
                              <option value="4"> 4 </option>
                              <option value="5"> 5 </option>
                              <option value="6"> 6 </option>
                              <option value="7"> 7 </option>
                              <option value="8"> 8 </option>
                              <option value="9"> 9 </option>
                              <option value="10"> 10 </option>
                            </select>
                          </span>
                        </span>
                      </div>
                      <div class="focus_action_button_container">
                        <a class="btn-inline-product-delete" href="form.jotform.html"> </a>
                        <a class="btn-inline-product-settings" href="form.jotform.html"> </a>
                      </div>
                    </div>
                  </span>
                  <div class="p_item_separator ">
                  </div>
                  <span class="form-product-item hover-product-item on_col3 show_image show_desc show_option new_ui"
                    categories="non-categorized" pid="1007" aria-labelledby="label_3">
                    <div data-wrapper-react="true" class="form-product-item-detail new_ui">
                      <div class="p_col">
                        <div class="p_checkbox">
                          <input type="checkbox" class="form-checkbox  form-product-input" id="input_3_1007"
                            name="q3_products[][id]" value="1007">
                          <div class="checked">
                          </div>
                          <div class="select_border">
                          </div>
                        </div>
                      </div>
                      <div class="p_image">
                        <div role="img" aria-label="Nem chua" class="image_area form-product-image-with-options"
                          style='background-image:url("https://www.jotform.com/uploads/thangnct110/form_files/nemchua1.jpeg")'>
                          <div class="image_zoom">
                          </div>
                        </div>
                      </div>
                      <div for="input_3_1007" class="form-product-container">
                        <span data-wrapper-react="true">
                          <div class="title_description">
                            <span class="form-product-name" id="product-name-input_3_1007">
                              Nem chua
                            </span>
                            <span class="form-product-description" id="product-name-description-input_3_1007">
                              Một chục
                            </span>
                          </div>
                          <span class="form-product-details">
                            <b>
                              <span data-wrapper-react="true">
                                <span id="input_3_1007_price">
                                  30,000.00
                                </span>
                                <span class="currency_abr">
                                  VND
                                </span>
                              </span>
                            </b>
                          </span>
                        </span>
                        <span class="form-sub-label-container" style="vertical-align:top">
                          <label class="form-sub-label" for="input_3_quantity_1007_0" style="min-height:13px"
                            aria-hidden="false"> Chục </label>
                          <span class="select_cont">
                            <select class="form-dropdown" name="nem_chua" id="input_3_quantity_1007_0">
                              <option value="0"> 0 </option>
                              <option value="1"> 1 </option>
                              <option value="2"> 2 </option>
                              <option value="3"> 3 </option>
                              <option value="4"> 4 </option>
                              <option value="5"> 5 </option>
                              <option value="6"> 6 </option>
                              <option value="7"> 7 </option>
                              <option value="8"> 8 </option>
                              <option value="9"> 9 </option>
                              <option value="10"> 10 </option>
                            </select>
                          </span>
                        </span>
                      </div>
                      <div class="focus_action_button_container">
                        <a class="btn-inline-product-delete" href="form.jotform.html"> </a>
                        <a class="btn-inline-product-settings" href="form.jotform.html"> </a>
                      </div>
                    </div>
                  </span>
                  <div class="payment_footer new_ui ">
                    <div class="total_area">
                      <div class="form-payment-total">
                        <div id="total-text">
                          Total
                        </div>
                        <div class="form-payment-price">
                          <span data-wrapper-react="true">
                            <span id="payment_total">
                              0.00
                            </span>
                            <span class="currency_abr">
                              VND
                            </span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li id="cid_4" class="form-input-wide" data-type="control_head">
          <div class="form-header-group  header-default">
            <div class="header-text httal htvam">
              <h2 id="header_4" class="form-header" data-component="header">
                Thông tin người nhận
              </h2>
            </div>
          </div>
        </li>
        <li class="form-line jf-required" data-type="control_textbox" id="id_18">
          <label class="form-label form-label-top form-label-auto" id="label_18" for="input_18">
            Tên người nhận
            <span class="form-required">
              *
            </span>
          </label>
          <div id="cid_18" class="form-input-wide jf-required" data-layout="half">
            <input type="text" id="input_18" name="name" data-type="input-textbox"
              class="form-textbox validate[required]" data-defaultvalue="" style="width:310px" size="310" value=""
              data-component="textbox" aria-labelledby="label_18" required="">
          </div>
        </li>
        <li class="form-line jf-required" data-type="control_phone" id="id_6">
          <label class="form-label form-label-top" id="label_6" for="input_6_full">
            Số điện thoại người nhận
            <span class="form-required">
              *
            </span>
          </label>
          <div id="cid_6" class="form-input-wide jf-required" data-layout="half">
            <span class="form-sub-label-container" style="vertical-align:top">
              <input type="tel" id="input_6_full" name="phone" data-type="mask-number"
                class="mask-phone-number form-textbox validate[required, Fill Mask]" data-defaultvalue=""
                autocomplete="section-input_6 tel-national" style="width:310px" data-masked="true" value=""
                placeholder="000 000 0000" data-component="phone" aria-labelledby="label_6" required="">
              <label class="form-sub-label is-empty" for="input_6_full" id="sublabel_6_masked" style="min-height:13px"
                aria-hidden="false"> </label>
            </span>
          </div>
        </li>
        <li class="form-line jf-required" data-type="control_textbox" id="id_26">
          <label class="form-label form-label-top form-label-auto" id="label_26" for="input_26">
            Địa chỉ nhận hàng
            <span class="form-required">
              *
            </span>
          </label>
          <div id="cid_26" class="form-input-wide jf-required" data-layout="half">
            <input type="text" id="input_26" name="address" data-type="input-textbox"
              class="form-textbox validate[required]" data-defaultvalue="" style="width:310px" size="310" value=""
              data-component="textbox" aria-labelledby="label_26" required="">
          </div>
        </li>
        <li class="form-line" data-type="control_textbox" id="id_28">
          <label class="form-label form-label-top form-label-auto" id="label_28" for="input_28">Lưu ý cho người bán
          </label>
          <div id="cid_28" class="form-input-wide" data-layout="half">
            <input placeholder="Để trống nếu không có lưu ý gì" type="text" id="input_28" name="note"
              data-type="input-textbox" class="form-textbox" data-defaultvalue="" style="width:310px" size="310"
              value="" data-component="textbox" aria-labelledby="label_28">
          </div>
        </li>
        <li id="cid_20" class="form-input-wide" data-type="control_head">
          <div class="form-header-group  header-default">
            <div class="header-text httal htvam">
              <h2 id="header_20" class="form-header" data-component="header">
              </h2>
              <div id="subHeader_20" class="form-subHeader">
                * CSKH: 0337896198
              </div>
            </div>
          </div>
        </li>
        <li class="form-line" data-type="control_button" id="id_17">
          <div id="cid_17" class="form-input-wide" data-layout="full">
            <div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField">
              <button id="input_17" type="submit"
                class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button"
                data-content="">
                Đặt hàng
              </button>
            </div>
          </div>
        </li>
        <li style="display:none">
          Should be Empty:
          <input type="text" name="website" value="">
        </li>
      </ul>
    </div>
    <script>
      JotForm.showJotFormPowered = "new_footer";
    </script>
    <script>
      JotForm.poweredByText = "Powered by Jotform";
    </script>
    <input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="223184427162453">
    <script type="text/javascript">
      var all_spc = document.querySelectorAll("form[id='223184427162453'] .si" + "mple" + "_spc");
      for (var i = 0; i < all_spc.length; i++) {
        all_spc[i].value = "223184427162453-223184427162453";
      }
    </script>
    <div class="formFooter-heightMask">
    </div>
  </form>
</body>

</html>
<html>
<script src="js/vendor-smoothscroll.min.js"></script>
<script src="js/js-errorNavigation.js"></script>

</html>